* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* width: 50%; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.my-header {
    text-align: center;
}

img {
    width: 20%;
}

#myform {
    /* text-align: center; */
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 25px;
    width: 60vw;
    height: 80vh;
    margin: 100px;
    margin-right: 50%;
    margin-left: 20%;
}
@media only screen and(min-width:768px) and (max-width:538)
    
  {}  


h2 {
    font-weight: 300;
    text-transform: capitalize;

}


.my-username {
    font-size: 14px;
    border-radius: 5px;
    border-color: green;
    margin-right: 5px;
    color: white;
    margin: 1;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    
}

.email-btn {
    font-size: 70%;
    border-radius: 5px;
    border-color: green;
    padding-left: 10px;
    padding-right: 10px;
    padding-inline-start: 23px;
    padding-inline-end: 15px;
    background-color: green;
    color: white;
    margin: 1;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    

}

fieldset.oor {

font-size: small;
    border-top: 1px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

legend {
    padding: 5px 10px;
}

.gmail-btn {
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;
    padding-inline-start: 23px;
    padding-inline-end: 15px;
    background-color: blue;
    color: white;
    margin: 1;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
text-transform: capitalize;

}
.gmail-phone{
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;
    padding-inline-start: 23px;
    padding-inline-end: 15px;
    margin-top: 5px;
    color: black;
    margin: 1;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
font-weight: bolder;
text-transform: capitalize;

}
.myAccount{
font-size: x-small;
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;

}