* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* width: 50%; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;


}

.my-header,
h1 {
    text-align: center;
    color: green;
    font-size: 100%;
    padding-bottom: 10px;


}

#myform {
    /* text-align: center; */
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 25px;
    width: 60vw;
    height: 80vh;
    margin: 100px;
    margin-right: 50%;
    margin-left: 20%;
    border-width: 2px;


}


h2 {
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 10px;

}

@media only screen and (min-width:392px) {
    h2 {
        font-size: small;

    }

}

.my-username {

    font-size: 15px;
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;
    /* padding-inline-start: 23px;
    padding-inline-end: 15px; */
    margin-top: 5px;
    color: black;
    /* margin: 1; */
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    width: 50vw;
}

.email-btn {

    font-size: 15px;
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;

    margin-top: 5px;
    color: white;
    background-color: green;
    /* margin: 1; */
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    width: 50vw;
}

fieldset.oor {

    font-size: small;
    border-top: 1px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

legend {
    padding: 5px 10px;
}

.gmail-btn {

    font-size: 15px;
    font-size: 60%;
    border-radius: 5px;
    border-color: rgba(0, 0, 255, 0.553);
    background-color: rgba(0, 0, 255, 0.815);
    padding-left: 30px;
    padding-right: 20px;

    margin-top: 5px;
    color: white;
    /* margin: 1; */
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    width: 50vw;
    border-radius: 20px;
}

.gmail-phone {

    font-size: 15px;
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;

    margin-top: 5px;
    color: black;
    /* margin: 1; */
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    width: 50vw;
    border-radius: 20px;
}

.myAccount {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    -webkit-margin-bottom-collapse: 20px;

}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sign-btn {
    font-size: 15px;
    font-size: 60%;
    border-radius: 5px;
    border-color: green;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 5px;
    color: black;
    /* margin: 1; */
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    width: 50vw;
    border-radius: 20px;
    color: green;
}

#my-footer{
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    font-size: small;
    background-color: black;

}
p{
    margin: 10px;
    text-transform: capitalize;
    


}
a:active{
color: yellow;

}
a:hover{
color:white;
}

a:visited{
    color:blue;
}
.myPara{
color: white;


}